.my-login-form {
  margin: 60px auto;
  padding: 2em;
  max-width: 400px;
  border: 2px solid #333;
  background-color: #c4d0f3;
  transition: background-color 0.4s, height 0.5s;

  h2 {
    text-align: center;
    color:#222;
    margin-bottom: 0.75em;
  }

  h3 {
  margin: 0;  
  }

  p {
    margin: 0;
  }

  code {
     font-weight: bold;
  }

  code,
  label 
  {
    display: inline-block;
    font-size: 1em;
  }

  input,
  button
  {
    font-size: 1.25em;
    display: block;
    width: 100%;
    padding: 0.25em;;
  }

  label,
  button,
  input[type="submit"]
  {
    margin-top: 0.5em;
    padding: 0.25em;
  }

  button,
  input[type="submit"] {
    margin-top: 1.5em;
    padding: 0.75em;

  }

  .error-text {
    color: red;
    font-weight: bold;
    margin: 0;
  }

  &.logged-in {
    background-color: #c4f3d0;
  }

  &.login-error {
    background-color: #f3c4d0;
  }

} /* .my-login-form_END */

