* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  globalne style w tym pliku  */

h1, h2{
  margin: 0;
}

h2 {
  color: #333;
  text-decoration: underline;
}

.blue-text {
 color: blue; 
}